.container { }

.parent {
    display: flex;
    width: 90vw;
    margin: 0 auto;
}

.col1 {
    display: flex;
    flex: 0 0 180px;
}

.col2 {
    flex: 1 1 80%;
}

.bannericons {
    font-size: 1.4em;
}

.search {
    flex-basis: 80%;
}

.searchbox {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.compose {
    color: white;
    background-color: paleturquoise;
}

.bigicons {
   font-size: 1.2em;
   color: #555555
}

.textbox {
    color: white;
    background-color:#555555
}

.name {
    flex: 0 0 20%;
    
}

.middle {
    flex: 1 1 65%; 
}

.date {
    flex-basis: 10%;
    flex-shrink: 0;
    flex-grow: 0;
}

.row:nth-of-type(odd) { background-color: grey; }
.row:nth-of-type(even) { background-color: lightgray; }
.row:hover { background-color: #555555; }

.menu {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: grey;
}

.menu h3 {
    color: black;
}

.menu ul {
    text-align: center;
    margin-bottom: 5px;
}


.menu p {
    margin-bottom: 5px;
}